<app-simple-header [title]="trans.trans('tips_list_page')" defaultBackHref="/"></app-simple-header>

<ion-content class="ion-padding">
    <ng-container *ngIf="advices && !advices.length">
        <h3 [innerHTML]="trans.transf('there_are_no_0_for_you', trans.trans( 'tips_list_page').toLowerCase())"></h3>
    </ng-container>
    <ng-container *ngIf="advices && advices.length">
        <ion-card *ngFor="let advice of advices"
                  class="ms-card"
                  [ngClass]="{'orange-card': advice.youNeedPremiumToAccessThis}"
                  (click)="cardClick(advice)">
            <ion-card-header>
                <ion-card-title [innerHTML]="advice.name"></ion-card-title>
                <!--                <ion-card-subtitle *ngIf="advice.isPremium">-->
                <!--                    Premium content <span-->
                <!--                        *ngIf="advice.youNeedPremiumToAccessThis" [routerLink]="['/premium']">(buy subscription to see content)</span>-->
                <!--                </ion-card-subtitle>-->
            </ion-card-header>
            <ion-card-content [innerHTML]="advice.description"
                              *ngIf="!advice.youNeedPremiumToAccessThis"></ion-card-content>
            <ion-card-content *ngIf="advice.youNeedPremiumToAccessThis" class="ms-form-buttons">
                <div class="d-flex">
                    <div [innerHTML]="trans.trans('premium-upgrade-now-to-access-this-content')"></div>
                    <ion-button color="white" class="normal-button" fill="outline">Upgrade</ion-button>
                </div>
            </ion-card-content>

        </ion-card>
    </ng-container>

    <div class="ion-text-center button-wrapper ms-form-buttons" *ngIf="advices">
        <ion-button color="orange" [routerLink]="'/'">
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
    </div>
</ion-content>
