<ion-content class="ion-padding-horizontal green-vertical-gradient-reversed" fullscreen>
    <div class="vertical-space-between">
        <div></div>
        <div class="logo-icon-wrapper d-flex ion-justify-content-center ion-align-items-center">
            <img src="assets/icon/mentorsano-icon.svg" alt=" "/>
        </div>
        <app-predefined-form class="ms-form ion-padding-horizontal"
                             formSchemaName="LoginRequestModel"
                             alwaysShowSubmitButton="true"
                             buttonColor="orange"
                             [submitButtonText]="trans.trans('Login')"
                             [(model)]="model"
                             (submit)="submit()"></app-predefined-form>
        <ion-button type="button" expand="block" color="transparent" fill="outline" routerLink="/register">
            {{trans.trans('new-account')}}
        </ion-button>
        <app-social-media-login (loggedIn)="socialMediaLoggedIn($event)"></app-social-media-login>
        <div></div>
    </div>
</ion-content>
