@import "theme/vars";

.in-ms-card-input-wrapper {
  display: flex;
  align-items: center;
  padding: 8px;
  min-height: $circle-size;
}

ion-icon {
  font-size: 22px;
}

.value-wrapper {
  padding-left: 8px;
}
