<div class="d-flex in-ms-card-input-wrapper ion-justify-content-between"
     (click)="open()">
    <div class="value-wrapper"
         innerHTML="{{to.valuePreview | stripHtmlTags}}">
    </div>
    <div class="d-flex">
        <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
</div>
