<div class="content ion-padding-start">
    <div class="title">
      {{trans.trans(data.title)}}
    </div>
    <div class="description" [innerHTML]="trans.trans(data.description)">
    </div>
</div>
<div class="image-wrapper">
    <img [src]="'/assets/images/feature-demo/'+data.imageName" alt=" "/>
</div>
