@import "theme/mentorsano-design-mixins";

:host {
  @include rounded-corners-top(10px);
  min-height: 130px;

  display: block;
  border: 1px solid #CECECE;

  position: relative;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    //justify-content: space-evenly;
    z-index: 1;
    padding-bottom: 2em;

    .title {
      font-size: 20px;
      text-transform: uppercase;
      padding: 10px 0;
    }

    .description {
      font-size: 14px;
      font-weight: lighter;
      width: 75%;
    }
  }

  .image-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;

    img {
      max-height: 100%;
    }
  }

  &.in-specific-page{
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
  }
}
