<app-simple-header
        [title]="trans.trans('activity-calendar')"
></app-simple-header>
<ion-content class="ion-padding">
    <ng-container *ngIf="pageReady">
        <app-profile-preview [model]="model"></app-profile-preview>
        <div class="ion-padding-vertical ion-margin-bottom ion-text-center fw-light">{{trans.trans('your-objective-is')}}
            : <b>{{model?.objective}}</b></div>
        <div class="simple-hr ion-margin-bottom"></div>
        <app-user-progress-circles [model]="model"></app-user-progress-circles>
        <div class="simple-hr ion-margin-bottom"></div>
        <h4 class="ion-text-center">{{viewTitle}}</h4>
        <ng-container>
            <!--        (onEventSelected)="onEventSelected($event)"-->
            <calendar
                    class="activity-calendar"
                    [calendarMode]="calendar.mode"
                    [currentDate]="calendar.currentDate"
                    [eventSource]="calendar.eventSource"
                    [locale]="calendar.locale"
                    [startingDayMonth]="calendar.startingDayMonth"
                    [dateFormatter]="calendar.dateFormatter"
                    [monthviewDisplayEventTemplate]="monthDayTemplate"
                    [allDayLabel]="calendar.allDayLabel"
                    [monthviewEventDetailTemplate]="monthEventDetailTemplate"
                    (onTitleChanged)="onViewTitleChanged($event)"
                    (onCurrentDateChanged)="onCurrentDateChanged($event)"
                    [lockSwipeToPrev]="calendar.lockSwipeToPrev"
            >
            </calendar>
        </ng-container>
        <div class="simple-hr ion-margin-bottom"></div>
        <div [innerHTML]="trans.trans('objectives-page-text')"></div>
    </ng-container>
</ion-content>


<ng-template #monthDayTemplate let-view="view" let-row="row" let-col="col">
    &nbsp;
    <div class="monthview-day-content text-black" *ngIf="view.dates[row * 7 + col].events[0]?.backColor"
         [ngStyle]="{'background-color': view.dates[row * 7 + col].events[0].backColor}">
        {{view.dates[row * 7 + col].label}}
    </div>
    <div class="monthview-day-content " *ngIf="!view.dates[row * 7 + col].events[0]?.backColor">
        {{view.dates[row * 7 + col].label}}
    </div>
</ng-template>
<ng-template #monthEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
             let-noEventsLabel="noEventsLabel">
    <div class="d-flex ion-padding">
        <div class="ion-padding-end event-details-date">{{selectedDate.date | date}} <span
                *ngIf="selectedDate.current">({{trans.trans('today')}})</span>:
        </div>
        <div class="event-details-text">
            <span *ngIf="!selectedDate.hasEvent">{{trans.trans('no-activity')}}</span>
            <span *ngIf="selectedDate.hasEvent">
                    {{trans.trans('activity-category-' + selectedDate.events[0].activityCategoryIndex)}}
                ({{selectedDate.events[0].title}}%)
                </span>
        </div>
    </div>
</ng-template>
