<app-simple-header [title]="trans.trans('user-defined-todo_list_page')" hideBackButton="true"></app-simple-header>
<div>
    <formly-form [form]="form" [fields]="formConfig" [model]="model"></formly-form>
<!--    <pre>{{model | json}}</pre>-->
    <div class="ms-form-buttons ion-padding">
        <ion-button color="orange" expand="block" size="large" type="button" (click)="submit()" [disabled]="!form.valid">
            {{trans.trans('save')}}
        </ion-button>
    </div>
</div>
<div class="ms-form-buttons ion-padding">
    <ion-button color="gray" expand="block" fill="outline" type="button" (click)="close()">
        {{trans.trans('close')}}
    </ion-button>
</div>
