.image-wrapper {
  display: flex;
  justify-content: center;
  position: relative;

  img {
    height: 173px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
}

.premium-watermark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(59, 51, 40, .81);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  img {
    max-width: 100px;
    object-fit: fill;
    height: auto;
  }
}
.read {
  opacity: .5;
  filter: blur(.5px);
}
