<!--[ngClass]="{'orange-card': article.isPremium}"-->
<ion-card (click)="onClick()" class="no-padding ms-card" [ngClass]="{'read': article.read}">
    <div class="image-wrapper rounded-corners-top">
        <img [src]="article.image.link" *ngIf="article.image && article.image.link"/>
        <div *ngIf="article.youNeedPremiumToAccessThis" class="premium-watermark">
            <img src="assets/images/premium/premium-diamond-golden.svg" class="diamond" alt=" "/>
            <img src="assets/images/premium/premium-text.svg" class="text" alt=" "/>
        </div>
    </div>
    <ion-card-header>
        <ion-card-title>
            {{article.title}}
        </ion-card-title>
        <!--        <ion-card-subtitle *ngIf="article.isPremium">-->
        <!--            Premium content <span *ngIf="article.youNeedPremiumToAccessThis">(buy subscription to see content)</span>-->
        <!--        </ion-card-subtitle>-->
    </ion-card-header>
    <ion-card-content>
        <div [innerHTML]="article.shortDescription" class="multiline-ellipsis-2"></div>
    </ion-card-content>
</ion-card>
