<app-simple-header
        defaultBackHref="/"
        transparentBackground="true"></app-simple-header>
<ion-content class="ion-padding-horizontal green-vertical-gradient-reversed" fullscreen="">
    <div class="vertical-space-between ion-padding-horizontal">
        <div class="logo-icon-wrapper d-flex ion-justify-content-center ion-align-items-center">
            <img src="assets/icon/mentorsano-icon.svg" alt=" "/>
        </div>
        <ng-container *ngIf="!activationCodeModel.userId">
            <app-predefined-form
                    class="ms-form"
                    formSchemaName="RegisterRequestModel"
                    [submitButtonText]="trans.trans('Register')"
                    [(model)]="registerModel"
                    alwaysShowSubmitButton="true"
                    buttonColor="orange"
                    (submit)="submitRegister()"></app-predefined-form>
        </ng-container>


        <ng-container *ngIf="activationCodeModel.userId">
            <ion-label class="ion-padding">{{trans.trans('Email activation code ')}}</ion-label>
            <app-predefined-form
                    formSchemaName="ActivationCodeForm"
                    [submitButtonText]="trans.trans('Submit')"
                    [(model)]="activationCodeModel"
                    alwaysShowSubmitButton="true"
                    buttonColor="orange"
                    (submit)="submitActivation()"></app-predefined-form>
        </ng-container>
        <div></div>
    </div>
</ion-content>
