<app-simple-header showLogo="true"
                   transparentBackground="true"
                   hideBackButton="true"
                   defaultBackHref="/"></app-simple-header>
<ion-content class="ion-padding">

    <div class="content-wrapper ion-justify-content-around d-flex flex-column full-height">
        <div class="diamond diamond-1">
            <img src="assets/images/premium/premium-diamond-transparent.svg" />
        </div>
        <div class="diamond diamond-2">
            <img src="assets/images/premium/premium-diamond-transparent.svg" />
        </div>

        <h1 class="title">{{trans.trans('premium-features-title')}}</h1>
        <div [innerHTML]="trans.trans('premium-features-text')" class="ion-padding-horizontal premium-content-text"></div>

        <div class="ms-form-buttons ">
            <ion-button color="green" [routerLink]="['buy']"
                        expand="block"
                        size="large"
                        class="square-button">{{trans.trans('go-premium')}}</ion-button>
        </div>
        <div class="ms-form-buttons">
            <ion-button color="orange" (click)="goBack()"
                        expand="block"
                        class="square-button">{{trans.trans('back')}}</ion-button>
        </div>
    </div>
</ion-content>
