:host {
  background: white;
}

.content-wrapper {
  position: relative;
}

.diamond {
  position: absolute;

  img {
    max-height: 100%;
  }
}

.diamond-1 {
  left: 0;
  top: -10px;
  transform: translateX(-50%);
  height: 150px;
}

.diamond-2 {
  right: 0;
  transform: translateX(33%);
  bottom: 20px;
  height: 250px;
}

.title {
  font-weight: bold;
}
