<ion-content class="ion-padding d-flex green-vertical-gradient-reversed">

    <div class="ion-padding d-flex flex-column ion-justify-content-around full-height page-column"
         *ngIf="config">
        <div></div>
        <div></div>
        <div></div>
        <div>
            <div class="title-wrapper" [innerHTML]="trans.trans(config.title)" *ngIf="config.title"></div>
            <div class="message-wrapper ion-padding-top" [innerHTML]="trans.trans(config.text)" *ngIf="config.text"></div>
        </div>
        <div class="ion-text-center button-wrapper ms-form-buttons">
            <ion-button color="orange" (click)="next()">
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
        </div>
    </div>
</ion-content>
