
.page-column {

  color: white;

  .message-wrapper {
    font-size: 16px;
    font-weight: 300;
    color: white;
  }

  .title-wrapper {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

