<div class="in-ms-card-input-wrapper">
    <ion-input type="number" (ionBlur)="inputValueChanged()" [(ngModel)]="value"></ion-input>
    <div class="suffix" *ngIf="to.measureUnit">{{to.measureUnit}}</div>
</div>
