<app-simple-header
        [title]="trans.trans('achievements')"
></app-simple-header>

<ion-content class="ion-padding ">
    <div>
        <h1><b>{{trans.trans('achievements-page-heading')}}</b></h1>
        <div class="ion-padding-vertical fw-light" [innerHTML]="trans.trans('achievements-page-text')"></div>
    </div>
    <div class="ion-padding-start">
        <div class="d-flex ion-align-items-center badge-item" *ngFor="let i of [5, 4, 3, 2, 1]">
            <div class="badge-wrapper"><img alt=" " [src]="'/assets/icons/activity-badges/activity-badge-'+i+'.svg'"/>
            </div>
            <div class="ion-padding-start texts-wrapper">
                <div [ngClass]="{current: i === profileActivityIndex}">{{trans.trans('activity-title-' + i)}}</div>
                <div class="fw-light" [innerHTML]="trans.trans('activity-title-description-' + i)"></div>
            </div>
        </div>
    </div>
    <div class="ion-padding-top">
        <div *ngIf="profileActivityIndex !== 5"
             [innerHTML]="trans.transf('achievements-keep-going-text', trans.trans('activity-title-' + profileActivityIndex), trans.trans('activity-title-' + (profileActivityIndex+1)))"></div>
        <div *ngIf="profileActivityIndex === 5" [innerHTML]="trans.trans('achievements-reach-maximum-text')"></div>
    </div>
    <div class="ion-padding-vertical fw-light" [innerHTML]="trans.trans('achievements-page-footer-text')"></div>
</ion-content>
