


.badge-item {
  margin-top: 10px;
  .badge-wrapper {
    width: 30px;

    img {
      width: 100%;
    }
  }
  .texts-wrapper {
    flex: 2;
    :first-child {
      padding-bottom: 5px;
    }
  }
}

.current {
  font-weight: bold;
  text-decoration: underline;
}
