<ion-card class="ion-no-margin ion-margin-bottom title-card">
    <ion-card-header>
        <ion-card-title><div class="ion-padding-top ion-margin-top" [innerHTML]="to.label"></div></ion-card-title>
    </ion-card-header>
</ion-card>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let option of options; let i = index" class="ion-no-padding">
            <ion-label class="ion-padding-start ion-text-wrap" [innerHTML]="option.label"></ion-label>
            <ion-checkbox slot="end" [(ngModel)]="selected[i]" (ionChange)="optionChanged(i)"></ion-checkbox>
        </ion-item>
        <ion-item *ngFor="let other of others; let i = index">
            <ion-label position="floating">{{otherFieldLabel}}</ion-label>
            <ion-input [(ngModel)]="other.value" #otherValueInputs></ion-input>
            <ion-fab-button (click)="others.splice(i, 1)" slot="end" color="danger" size="small" class="ion-align-self-center">
                <ion-icon name="remove-outline"></ion-icon>
            </ion-fab-button>
        </ion-item>
        <ion-item *ngIf="to.lastIsOther && (multipleOther || others.length === 0)" class="ion-no-padding">
            <ion-fab-button (click)="others.push({})" slot="end" size="small">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-item>
    </ion-list>
    <div class="ion-justify-content-around d-flex ion-padding">
<!--        <ion-button type="block" color="light"-->
<!--                    (click)="modalController.dismiss()">{{trans.trans('cancel')}}</ion-button>-->
        <ion-button type="block" (click)="save()">{{trans.trans('set')}}</ion-button>
    </div>
</ion-content>
