@import "theme/vars";
@import "theme/mentorsano-design-mixins";

:host {
  @include ms-card;
  background-color: var(--card-background);
  color: white;
  position: relative;
  padding-top: 35px;
  display: block;
}
