// http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/


@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -0.5em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: var(--background, $bgColor);
  }
}

@for $i from 1 through 4 {
  .multiline-ellipsis-#{$i} {
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: $i, $bgColor: white);
  }
}
