.image-wrapper {
  flex-grow: 2;
  flex-basis: 40%;
}

.content-wrapper {
  flex-grow: 3;
  flex-basis: 60%;

  margin: 5px 15px;
  font-size: 1.3em;

  color: white;

  .message-wrapper {
    font-weight: 300;
  }


  .button-wrapper {
    padding-top: 30px;
  }
}
