<ion-content class="ion-padding d-flex green-vertical-gradient-reversed">

    <div class="d-flex flex-column ion-justify-content-center full-height">

        <div class="image-wrapper logo-icon-wrapper d-flex ion-justify-content-center ion-align-items-center">
            <img src="assets/images/logo-text-vertical.svg" alt=" "/>
        </div>
        <div class="content-wrapper">
            <div class="message-wrapper" [innerHTML]="trans.trans('be-honest-page-message')"></div>
            <div class="ion-text-center button-wrapper ms-form-buttons">
                <ion-button color="orange" [routerLink]="'/forms/general-information'">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>
