<ion-item (click)="open()" detail="false">
    <ion-label>
        <h2 class="name ion-text-wrap" [innerHTML]="to.label"></h2>
        <p class="value ion-text-wrap" innerHTML="{{to.valuePreview | stripHtmlTags}}"></p>
    </ion-label>
    <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
</ion-item>

<ion-item *ngIf="showError" class="ion-no-padding">
    <ion-label class="ion-padding-start">
        <ion-text color="danger">
            <formly-validation-message [field]="field"></formly-validation-message>
        </ion-text>
    </ion-label>
</ion-item>
