.image-wrapper {
  flex-grow: 2;
  flex-basis: 40%;
}

.quotes-wrapper {
  flex-grow: 3;
  flex-basis: 60%;

  margin: 5px 15px;
  font-size: 1.3em;

  color: white;

  .quote-wrapper {
    .welcome {
      font-weight: bold;
      font-size: 1.25em;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .message-wrapper {
      font-weight: 300;
    }
  }

  .author-wrapper {
    opacity: .8;
    font-size: .8em;
    margin-top: 30px;
  }

  .button-wrapper {
    padding-top: 30px;
  }
}
