<ion-content class="ion-padding d-flex green-vertical-gradient-reversed">

    <div class="d-flex flex-column ion-justify-content-center full-height">

        <div class="image-wrapper logo-icon-wrapper d-flex ion-justify-content-center ion-align-items-center">
            <img src="assets/images/logo-text-vertical.svg" alt=" "/>
        </div>
        <div class="quotes-wrapper">
            <div class="quote-wrapper ion-text-start">
                <div class="welcome">{{trans.trans('welcome')}}</div>
                <div class="message-wrapper">{{trans.trans('welcome_quote')}}</div>
            </div>
            <div class="ion-text-end author-wrapper">
                Robert Collier
            </div>
            <div class="ion-text-center button-wrapper ms-form-buttons">
                <ion-button (click)="ok()" color="orange"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
            </div>
        </div>
    </div>
</ion-content>
