<app-simple-header [title]="customForm ? customForm.name : 'Form'"
                   [hideBackButton]="hideBackButton"></app-simple-header>
<app-form-progress-bar [value]="progressValue"></app-form-progress-bar>
<ion-content>
    <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="fields && fields.length">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <div class="ion-padding ms-form-buttons">
            <ion-button type="submit" expand="block" color="orange">{{trans.trans('Submit')}}</ion-button>
        </div>
    </form>
</ion-content>
