<ion-header class="header-mentorsano ion-no-border"
            [ngClass]="{'green-vertical-gradient': !transparentBackground, 'transparent-background': transparentBackground, 'no-padding-top': noPaddingTop}"
            *ngIf="title || !hideBackButton || showLogo"
>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="!hideBackButton">
            <ion-back-button [defaultHref]="defaultBackHref || '/'" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center" *ngIf="title">{{title}}</ion-title>

        <ion-title class="ion-text-center" *ngIf="showLogo">
            <img src="assets/icon/mentorsano-icon.svg" class="header-icon" alt="MentorSano"/>
        </ion-title>

    </ion-toolbar>
</ion-header>
