ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-back-button,
ion-title {
  --color: white;
}

:host ::ng-deep ion-toolbar {
  position: relative;
}

:host ::ng-deep ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.no-padding-top {
  padding-top: 0 !important;
}
.header-icon {
  height: 2.5em;
}
