<app-simple-header [title]="trans.trans('user-defined-todo_list_page')"></app-simple-header>

<ion-content class="ion-padding">
    <ng-container *ngIf="userDefinedTodos && !userDefinedTodos.length">
        <h3>{{trans.transf('there_are_no_0_for_you', trans.trans('user-defined-todo_list_page').toLowerCase())}}</h3>
    </ng-container>
    <ng-container *ngIf="userDefinedTodos && userDefinedTodos.length">
        <ng-container *ngFor="let todo of userDefinedTodos; let i = index">
            <ion-card>
                <ion-card-content>
                    <div class="ion-padding-bottom">
                        Text: <b>{{todo.text}}</b>
                    </div>
                    <div>
                        {{trans.trans('user-defined-todo_repeat-type')}}:
                        {{trans.trans(todo.repeatType && todo.repeatType.toLowerCase())}}
                    </div>
                    <div>
                        {{trans.trans('hour')}}: {{todo.time | date:'HH:mm'}}
                    </div>
                    <div *ngIf="todo.repeatType == 'Once'">
                        {{trans.trans('date')}}: {{todo.day | date}}
                    </div>
                    <div class="ion-justify-content-end d-flex ms-form-buttons">
                        <ion-button (click)="delete(i)" color="danger" expand="block"
                                    type="button">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                        <ion-button (click)="edit(i)" color="orange" expand="block"
                                    type="button">{{trans.trans('edit')}}</ion-button>
                    </div>
                </ion-card-content>
            </ion-card>
        </ng-container>
    </ng-container>
    <div class="ms-form-buttons ion-padding">
        <ion-button color="orange" expand="block" type="button" (click)="add()">
            {{trans.trans('add-user-defined-todo')}}
        </ion-button>
    </div>
</ion-content>
