<ng-container *ngIf="!platformLoadingValue">
    <ion-app class="green-vertical-gradient-reversed">
        <ion-split-pane contentId="main-content">
            <ion-menu contentId="main-content" type="overlay">
                <ion-header class="menu-header green-vertical-gradient">
                    <ion-toolbar>
                        <ion-img src="assets/images/logo-text-transparent-bg.svg">
                        </ion-img>
                    </ion-toolbar>
                </ion-header>
                <ion-content>
                    <app-side-menu></app-side-menu>
                </ion-content>
            </ion-menu>
            <ion-router-outlet id="main-content"></ion-router-outlet>
            <ng-container *ngIf="forceReloadApp.isForceReloading">
                <ion-content class="ion-padding d-flex green-vertical-gradient-reversed">
                </ion-content>
            </ng-container>
        </ion-split-pane>
    </ion-app>
</ng-container>

<ng-container *ngIf="platformLoadingValue">
    <ion-content class="ion-padding d-flex green-vertical-gradient-reversed">
    </ion-content>
</ng-container>
