ion-menu {
  --background: transparent;
  ion-header {
    ion-toolbar {
      --background: transparent;
      --border-width: 0;
    }
  }
}

.menu-header {
  //min-height: 76px;
  //max-height: 76px;
  //@media (min-height: 675px) {
  //  min-height: 101px;
  //  max-height: 101px;
  //}
  padding-top: 25px;
  min-height: 149px;
  max-height: 149px;
  display: flex;
  align-items: center;
}
