<form [formGroup]="form" (ngSubmit)="submitAction($event)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <div class="ion-padding-top">
        <ion-button type="submit" expand="block"
                    size="large"
                    strong="true"
                    [hidden]="!form.touched && !alwaysShowSubmitButton"
        [color]="buttonColor">{{submitButtonText || 'Save'}}</ion-button>
    </div>
</form>
