<app-simple-header
        [title]="transService.trans('My profile')"
        defaultBackHref="/"
></app-simple-header>
<ion-content class="ion-padding-top">
    <app-predefined-form
            class="ms-form-buttons"
            formSchemaName="ProfileViewModel"
            [(model)]="profile"
            [submitButtonText]="transService.trans('save')"
            buttonColor="orange"
            #profileForm
            (submit)="submit()"></app-predefined-form>

    <div class="ion-padding"></div>

    <div class="ion-padding d-flex flex-row ion-justify-content-between">
        <div>
            <span style="font-weight: bold">{{transService.trans('measure-unit-system')}}:</span>
            <span> {{ measureUnitSystem | titlecase }}</span></div>
        <a (click)="openMeasureUnitModal()">{{transService.trans('change')}}</a>
    </div>

<!--    <div class="ion-padding">-->
<!--        <ion-list-header>Tags:</ion-list-header>-->
<!--        <ng-container *ngIf="profile">-->
<!--            <ng-container *ngIf="!profile.tags || !profile.tags.length">-->
<!--                <div class="ion-padding">Your profile has no tags.</div>-->
<!--            </ng-container>-->
<!--            <ion-chip color="primary" *ngFor="let tag of profile.tags">-->
<!--                <ion-label>{{tag.name}}</ion-label>-->
<!--            </ion-chip>-->
<!--        </ng-container>-->
<!--    </div>-->
</ion-content>
