ion-content {
  --background: #EBEBEB;
}

.numbers-row {
  display: flex;

  .number-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    > * {
      text-align: center;
      //flex: 2;
    }

    > *:first-child {
      font-size: 22px;
      &.bmi-cat-name {
        font-size: 18px;
      }
    }

    > *:last-child {
      font-size: 14px;
    }
  }

}

.vertical-line {
  display: flex;
  align-items: center;

  > * {
    height: 70%;
    border-left: 1px solid #707070;
  }
}

.statistics-fake-demo {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  .heading {
    font-size: 26px;
    font-weight: bold;
  }
}

.lang-icon {
  max-width: 1.5em;
  margin-right: 10px;
}
