<app-simple-header
        [title]="trans.trans('my-profile')"
></app-simple-header>
<ion-content>
    <div class="ion-padding" *ngIf="model">
        <app-profile-preview [model]="model" [big]="true" [column]="true"></app-profile-preview>
        <div class="fw-light d-flex ion-justify-content-center">
            <ion-img [src]="'/assets/icons/languages/'+language+'.svg'" alt=" " class="lang-icon"></ion-img>
            <span>{{trans.trans('lang-' + language)}}</span></div>
        <div class="ion-text-center fw-light">{{trans.trans('user-since')}} {{model.created | date:'d MMM y'}}</div>

        <div class="numbers-row ion-padding-top">
            <div class="number-item">
                <div class="bmi-cat-name">{{trans.trans(model.bmiCategoryName)}}</div>
                <div class="fw-light">{{trans.trans('profile-page-bmi')}} ({{model.bmi | number: '1.1-1'}})</div>
            </div>
            <div class="vertical-line">
                <div></div>
            </div>
            <div class="number-item">
                <div>{{recommendedWaterAmount}}{{volumeMeasureUnit}}</div>
                <div class="fw-light">{{trans.trans('profile-page-water')}}</div>
            </div>
            <div class="vertical-line">
                <div></div>
            </div>
            <div class="number-item">
                <div>{{measureUnitSystem}}</div>
                <div class="fw-light">{{trans.trans('measure-unit-system')}}</div>
            </div>
        </div>
        <div class="ion-padding-vertical ">
            <div><span class="fw-light">{{trans.trans('ideal-weight')}}:</span>
                <span> {{idealWeight.minimum | number:'1.0-0'}}-{{idealWeight.maximum| number:'1.0-0'}}
                    {{weightMeasureUnit}}</span></div>
            <div [innerHTML]="trans.trans('ideal-weight-description')" class="fw-light ion-padding-top-small"></div>
        </div>
    </div>
    <div class="statistics-fake-demo ion-padding-horizontal" [routerLink]="'/activity'">
        <div class="ion-padding-start heading">{{trans.trans('statistics-preview-title')}}:</div>
        <div class="d-flex ion-justify-content-around"><img src="/assets/images/statistics.svg"/></div>
        <div class="ion-padding-top ion-text-center fw-light"
             [innerHTML]="trans.trans('statistics-preview-text')"></div>
    </div>
    <!--    <pre>{{model | json}}</pre>-->
    <div class="ms-form-buttons">
        <ion-button color="green" [routerLink]="['edit']"
                    expand="block"
                    size="large"
                    class="square-button">{{trans.trans('edit')}}</ion-button>
    </div>
</ion-content>
