calendar.activity-calendar tbody tr td {
  //padding: 0 !important;
  position: relative;
}

calendar.activity-calendar tbody tr td .monthview-day-content {
  //margin: 0px -8px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

calendar.activity-calendar {
  .monthview-container {
    height: auto !important;
  }

  tbody tr td.monthview-selected {
    background-color: transparent;
    color: black;

    .monthview-day-content {
      border: 3px solid blue !important;
    }
  }
}
