<ion-slides
        [options]="slideOpts"
        (ionSlidesDidLoad)="ionSlidesDidLoad($event)"
        (ionSlideTouchEnd)="ionSlideTouchEnd($event)"
        (ionSlideDidChange)="ionSlideDidChange($event)"
        (ionSlideDrag)="ionSlidDrag($event)"
>
    <ion-slide>
        <div *ngIf="!swiperInitialized">
            <div class="circle"></div>
        </div>
    </ion-slide>
    <ion-slide>
        <div>
            <div class="circle"></div>
        </div>
    </ion-slide>
</ion-slides>
<div class="icon-wrapper left" [ngClass]="{touched: swiperIsTouched, invisible:isChecked && !swiperIsTouched }">
    <ion-icon src="assets/icons/arrow-right.svg"></ion-icon>
</div>
<div class="icon-wrapper right" [ngClass]="{touched: swiperIsTouched,  invisible:!isChecked && !swiperIsTouched}">
    <ion-icon src="assets/icons/done.svg"></ion-icon>
</div>
