<app-simple-header title="Developer page"
                   defaultBackHref="/"></app-simple-header>


<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <span style="font-size: .7em">Platforms: {{constants.currentPlatforms.join(', ')}}</span>
        </ion-item>
        <ion-item>
            <ion-label>
                <div class="kvp">Backend: <span>{{constants.apiUrl}}</span></div>
                <div class="kvp">Window url: <span>{{windowUrl}}</span></div>
            </ion-label>
        </ion-item>
        <ion-item>
            <div>
                <div>App version: {{version}}</div>
                <div *ngIf="updateResponse"><pre>{{updateResponse | json}}</pre></div>
            </div>
        </ion-item>
    </ion-list>
    <div class="d-flex ion-justify-content-evenly">
        <ion-button type="button" (click)="globals.developer = false" [routerLink]="'/'">
            Disable dev mode
        </ion-button>
        <ion-button type="button" (click)="appUpdateService.check()">
            Update Check
        </ion-button>
    </div>
    <div class="d-flex ion-justify-content-evenly">
        <ion-button type="button" (click)="reloadTranslations()">
            Reload trans
        </ion-button>
        <ion-button type="button" (click)="clearStorage()" [routerLink]="'/'">
            Clear storage
        </ion-button>
    </div>
    <div class="ion-padding-top">
        <ion-button type="button" expand="block" (click)="reload()">
            Reload app
        </ion-button>
    </div>
    <div class="ion-padding-top">
        <ion-button type="button" expand="block" (click)="testNotif()">
            Test Notification
        </ion-button>
    </div>
</ion-content>
