@import "theme/mentorsano-design-mixins";

$padding-1: 5px;
$padding-2: 10px;

$title-bar-padding-top: 15px;
// padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
ion-toolbar {
  --background: transparent;
  --padding-top: calc(#{$title-bar-padding-top});

  ion-title {
    padding-top: calc(#{$title-bar-padding-top});
  }
}

.header-icon {
  height: 2.5em;
}

:host ::ng-deep ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tabs-buttons-row {
  display: flex;
  flex-direction: row;
  padding-bottom: $padding-1;
  padding-top: $padding-1;


  .tab-button-wrapper {
    flex: 1 1 0;
    padding: 5px;
    transition: padding-top .75s, padding-bottom .75s;

    .tab-button {
      outline: none;
      display: flex;
      flex-direction: row;
      //width: 100%;
      //height: 100%;
      justify-content: space-between;
      align-items: center;
      //margin: 5px;
      background-color: white;
      border-radius: 5px;
      padding: $padding-1;

      .text {
        text-transform: uppercase;
        font-size: .8em;
        color: #7A7B7B;
      }

    }

    &.active {
      padding-top: $padding-2;
      padding-bottom: 0;
    }
  }
}
