<ion-header class="header-mentorsano green-vertical-gradient">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <ion-icon src="assets/icons/menu.svg"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            <img src="assets/icon/mentorsano-icon.svg" class="header-icon" alt="MentorSano"/>
        </ion-title>

    </ion-toolbar>
    <div class="tabs-buttons-row">
        <div *ngFor="let tabConfig of tabsConfig" class="tab-button-wrapper"
             [ngClass]="{active: selectedPath == tabConfig.path}">
<!--            [routerLink]="['/home', tabConfig.path]"-->
<!--            [queryParams]="tabConfig.options && tabConfig.options.queryParams"-->
<!--            [routerDirection]="'forward'"-->
            <div class="tab-button"
                        (click)="navigateToTab(tabConfig)"
            >
                <div class="green-oblique-gradient icon-circle-wrapper">
                    <ion-icon [src]="tabConfig.icon"></ion-icon>
                </div>
                <div class="text">{{trans.trans(tabConfig.text)}}</div>
            </div>
        </div>
    </div>
</ion-header>

<ion-content class="ion-padding">
    <ion-tabs (ionTabsWillChange)="tabsWillChange($event)">
    </ion-tabs>
</ion-content>
