<app-simple-header [title]="trans.trans('About app')" defaultBackHref="/"></app-simple-header>

<ion-content class="ion-padding">
    <div [innerHTML]="trans.trans('about_app_page_content')" (click)="titleClick()"></div>
    <div class="ion-padding-vertical"></div>
    <ion-footer *ngIf="version">
        App version: {{version}}
    </ion-footer>
</ion-content>
