<app-ms-card #card
             [classList]="['category-'+field.category]">
    <ng-container *ngIf="field">
        <div class="header-row">
            <div *ngIf="field.notification !== 'none'" class="notif-icon-wrapper">
                <ion-icon name="notifications-outline"></ion-icon>
            </div>
            <div class="recipes d-flex ion-align-items-center"
                 *ngIf="field.showRecipesLink && field.category !== 'None'"
                 [routerLink]="['/home', 'articles']"
                 [queryParams]="{type: 'anyArticleMenu', category: field.category}">
                <!--                [queryParams]="{type:'menu', recipesTagsParam: recipesTagsParam}"-->
                {{trans.trans("todo-recipes-link-text")}}
                <div class="icon-circle-wrapper">
                    <ion-icon src="assets/icons/paperclip.svg"></ion-icon>
                </div>
            </div>
        </div>
        <div class="middle-row">
            <div class="time-line" [ngClass]="{'ion-page-invisible': field.hideTimeBar}"
                 *ngIf="!field.hideTimeBar">
                <ion-icon src="assets/icons/clock.svg"></ion-icon>
                <div class="vertical-line"></div>
            </div>
            <div class="middle-cell">
                <div class="time">
                    <ng-container *ngIf="field.showActivityTime">
                        {{field.activityTime | date:'shortTime'}}
                    </ng-container>
                </div>
                <div class="name" [innerHTML]="to.label">
                </div>
            </div>
        </div>
        <ng-template #fieldComponent></ng-template>
    </ng-container>
    <ng-container *ngIf="!field">
        <h4>Loading ...</h4>
    </ng-container>
</app-ms-card>
