@import "../../../../../styles/theme/vars";

:host {
  display: block;
  overflow: hidden;

  &.force-hidden {
    opacity: 0;
    height: 0;
  }
}

app-ms-card {
  --card-background: #{$green-1};
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-row {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;

  font-size: .8em;

  .recipes {
    .icon-circle-wrapper {
      background-color: white;
      color: var(--card-background);
      margin-left: 6px;
    }
  }

  .notif-icon-wrapper {
    padding-right: 15px;
  }
}


.middle-row {
  display: flex;

  padding-left: 10px;

  .name {
    font-size: 20px;
    font-weight: bold;
    //min-height: 3em;
    padding-bottom: .3em;

    ::ng-deep p {
      margin: 0;
    }
  }

  .time-line {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;

    ion-icon {
      opacity: .7;
    }

    .vertical-line {
      border-left: 1px solid white;
      opacity: .8;
      width: 1px;
      flex: 1;
      margin-bottom: 1em;
      margin-top: 3px;
    }
  }

  .time {
    opacity: .7;
    font-size: .8em;
    padding-left: 10px;
  }
}

