:host {
  position: relative;
  display: block;
}

svg.arc-progress {
  margin: auto;
  display: block;
  overflow: visible;
}

svg.arc-progress path {
  stroke-linecap: round;
}

svg.arc-progress path.progress-background {
  fill: none;
}

svg.arc-progress path.progress-fill {
  fill: none;
}


.texts {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title,
  .subtitle {
    display: flex;
    align-items: flex-start;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
  }
}
