<svg xmlns="http://www.w3.org/2000/svg" class="arc-progress"
     [attr.height]="arcSize"
     [attr.width]="arcSize"
>
    <path class="progress-background"
          [attr.d]="drawnArc(positionX, positionY, arcRadius, -arcStart, arcStart)"
          [attr.stroke]="arcBackgroundColor"
          [attr.stroke-width]="arcStrokeWidth"
    />
    <path class="progress-fill"
          [attr.d]="drawnArc(positionX, positionY, arcRadius, -arcStart, arcStart)"
          [attr.stroke-dasharray]="strokeDashArray"
          [attr.stroke-dashoffset]="fillValue"
          [attr.stroke]="arcProgressColor"
          [attr.stroke-width]="arcStrokeWidth"
    />
    <circle [attr.cx]="indicatorPositionX" [attr.cy]="indicatorPositionY" [attr.r]="dotRadius || 10"
            [attr.fill]="dotColor || arcProgressColor"/>
</svg>
<div class="texts">
    <div class="title">
        <ng-container *ngIf="title">
            <ng-container *ngTemplateOutlet="textTemplate; context: {config: title}"></ng-container>
        </ng-container>
        <ng-container *ngIf="titleUnit">
            <ng-container *ngTemplateOutlet="textTemplate; context: {config: titleUnit}"></ng-container>
        </ng-container>
    </div>
    <div class="subtitle">
        <ng-container *ngIf="subtitle">
            <ng-container *ngTemplateOutlet="textTemplate; context: {config: subtitle}"></ng-container>
        </ng-container>
    </div>
</div>

<ng-template #textTemplate let-config="config">
    <span [ngStyle]="config.styles" [ngClass]="config.class" style="line-height: 1em;">{{config.text}}</span>
</ng-template>
