<ion-list>
    <ng-container *ngTemplateOutlet="linksTemplate; context: {links: appPages}"></ng-container>
    <ng-container
            *ngTemplateOutlet="auth.authState? linksTemplate: null; context: {links: loggedInLinks}"></ng-container>
    <ng-container
            *ngTemplateOutlet="!auth.authState? linksTemplate: null; context: {links: nonLoggedInLinks}"></ng-container>
    <ng-container *ngTemplateOutlet="routerLink; context: {link: aboutPage}"></ng-container>
    <ng-container *ngTemplateOutlet="globals.developer?routerLink:null; context: {link: developerPage}"></ng-container>
</ion-list>

<ng-template let-links="links" #linksTemplate>
    <ng-container *ngFor="let link of links">
        <ng-container *ngTemplateOutlet="routerLink; context: {link: link}"></ng-container>
    </ng-container>
</ng-template>

<ng-template let-link="link" #routerLink>
    <ion-menu-toggle auto-hide="false">
        <ion-item [routerDirection]="'forward'"
                  [routerLink]="link.url"
                  [queryParams]="link.queryParams"
                  (click)="link.action && link.action()"
                  [ngClass]="{'no-border': link.bottomSeparator}">
            <ion-icon slot="start" [name]="link.icon"></ion-icon>
            <ion-label>{{trans.trans(link.title)}}</ion-label>
        </ion-item>
        <ion-item-divider *ngIf="link.bottomSeparator"></ion-item-divider>
        <ion-item-divider *ngIf="link.bottomSeparator" class="no-border"></ion-item-divider>
    </ion-menu-toggle>
</ng-template>

<!--<ng-template let-page="page" #actionLink>-->
<!--    <ion-item (click)="page.action()">-->
<!--        <ion-icon slot="start" [name]="page.icon"></ion-icon>-->
<!--        <ion-label>-->
<!--            {{page.title}}-->
<!--        </ion-label>-->
<!--    </ion-item>-->
<!--</ng-template>-->
