<div class="buttons-container">
    <ion-button *ngIf="isIos" type="button" expand="block" (click)="loginApple()" color="apple" class="flex-grow-2 left-aligned">
        <div class="button-content">
            <ion-icon name="logo-apple"></ion-icon>
            {{trans.trans('sign-in-with')}} Apple
        </div>
    </ion-button>
    <ion-button type="button" expand="block" (click)="loginGoogle()" color="google" class="flex-grow-2 left-aligned">
        <div class="button-content">
            <ion-icon name="logo-google"></ion-icon>
            {{trans.trans('sign-in-with')}} Google
        </div>
    </ion-button>
    <ion-button type="button" expand="block" (click)="loginFacebook()" color="facebook" class="flex-grow-2 left-aligned">
        <div class="button-content">
            <ion-icon name="logo-facebook"></ion-icon>
            {{trans.trans('sign-in-with')}} Facebook
        </div>
    </ion-button>
</div>
