<app-simple-header [title]="trans.trans('premium')"
                   defaultBackHref="/"></app-simple-header>
<ion-content class="ion-padding ms-form-buttons">
    <ng-container *ngIf="gotProduct && !alreadyPremiumProfile">
        <ng-container *ngIf="!gotProduct.valid">
            <div [innerHTML]="trans.trans('premium-not-available')"></div>
        </ng-container>
        <ng-container *ngIf="gotProduct.valid">
            <div *ngFor="let field of validProductDisplayFields" class="field">
                <div><span class="label">{{trans.trans('premium-' + field)}}</span>: <span
                        class="value">{{gotProduct[field]}}</span>
                </div>
            </div>
        </ng-container>

        <div class="ion-padding-vertical">
            <ion-button color="green"
                        (click)="buy()"
                        class="square-button"
                        expand="block"
                        size="large"
                        [disabled]="forceRefreshDisabled"
                        *ngIf="gotProduct.canPurchase">{{trans.trans('premium-buy')}}</ion-button>
        </div>

        <div class="d-flex flex-column ion-justify-content-center ion-padding-top">
            <div [innerHTML]="trans.trans('you-already-purchased-premium-question')" class="ion-padding-top"></div>
            <div class="ion-padding-top">
                <ion-button color="light-blue"
                            class="square-button"
                            expand="block"
                            (click)="forceRefresh()"
                            [disabled]="forceRefreshDisabled">{{trans.trans('refresh')}}</ion-button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="alreadyPremiumProfile">
        <div [innerHTML]="trans.trans('premium-profile-already-premium')"></div>
        <div class="d-flex ion-justify-content-center">
            <ion-button color="light-blue" (click)="goBack()">{{trans.trans('back')}}</ion-button>
        </div>
    </ng-container>

<!--    <div class="ms-form-buttons d-flex ion-justify-content-center">-->
<!--        <div class="ion-padding">-->
<!--            <pre style="white-space: pre-wrap;">{{gotProduct | json}}</pre>-->
<!--        </div>-->
<!--    </div>-->
</ion-content>
