<ion-header>
    <app-form-progress-bar [value]="loadBarValue" color="medium"></app-form-progress-bar>
</ion-header>

<ion-content>
    <app-feature-demo-header featureName="todo" [routerLink]="['/home', 'check']"
                             *ngIf="type=='checkIn'"></app-feature-demo-header>
    <div *ngIf="type === 'checkIn'" class="ms-form-buttons ion-padding">
        <ion-button color="orange" expand="block" type="button"
                    [routerLink]="['/', 'user-defined-todos']">
            {{trans.trans('user-defined-todo_list_page')}}
        </ion-button>
    </div>
    <div [ngClass]="{'ion-padding': type === 'checkIn'}">
        <form [formGroup]="form" *ngIf="fields && fields.length">
            <formly-form [form]="form" [fields]="checkForm.questions" [model]="model"></formly-form>
        </form>
    </div>
    <ng-container *ngIf="fields && !fields.length">
        <div class="ion-padding">
            <h3>{{trans.transf('there_are_no_0_for_you', trans.trans((checkForm ? checkForm.type.toLowerCase() : '') + '_questions').toLowerCase())}}</h3>
        </div>
    </ng-container>
    <div *ngIf="showLinkToCheckOut" class="ion-padding ms-form-buttons">
        <div class="ion-padding-top"></div>
        <ion-button color="orange" expand="block" type="button"
                    [routerLink]="['/home', 'check', 'checkOut']"
                    [routerDirection]="'forward'">{{trans.trans('checkout-' + checkoutType)}}</ion-button>
    </div>
    <div *ngIf="checkForm && checkForm.type !== 'checkIn'" class="ion-padding ms-form-buttons">
        <div class="ion-padding-top"></div>
        <ion-button color="orange" expand="block" type="button"
                    [routerLink]="['/home', 'check', '']"
                    [routerDirection]="'back'">{{trans.trans('back-to-todo')}}</ion-button>
    </div>

    <div class="ms-form-buttons ion-padding" *ngIf="thereAreDoneTasks && type === 'checkIn'">
        <ion-button color="gray" expand="block" fill="outline" type="button"
                    (click)="toggleDoneTasksVisibility(canShowHiddenTasks)">
            {{trans.trans(canShowHiddenTasks ? 'show-done-tasks' : 'hide-done-tasks')}}
        </ion-button>
    </div>

</ion-content>
