@import "theme/vars";

.in-ms-card-input-wrapper {
  display: flex;
  align-items: center;
  padding: 8px;
  min-height: $circle-size;
}

ion-icon {
  font-size: 22px;
}

ion-select {
  --padding-start: 8px;
}


.select-wrapper {
  flex-grow: 2;
  overflow: hidden;

  > ion-select {
    margin-right: -15px;
  }
}
