<div class="d-flex in-ms-card-input-wrapper ion-justify-content-between" (click)="open()">
    <div class="select-wrapper">
        <ng-container *ngIf="to.options; let selectOptions">
            <ion-select
                    (click)="clicked($event)"
                    [formControl]="formControl"
                    [multiple]="to.multiple"
                    [interface]="to.interface"
                    [okText]="to.okText"
                    [cancelText]="to.cancelText"
                    [interfaceOptions]="{header: to.label}"
            >
                <ion-select-option *ngFor="let option of selectOptions" [value]="option.value">
                    {{ option.label }}
                </ion-select-option>
            </ion-select>
        </ng-container>
    </div>
    <div class="d-flex icon-wrapper">
        <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
</div>
