:host {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  > * {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .hello-line {
    span {
    }
  }

  outline: none;
}
