<div>
    <app-circular-progress
            *ngIf="dayCircleConfig"
            [progress]="model?.todayPercent"
            [title]="dayCircleConfig.title"
            [titleUnit]="dayCircleConfig.titleUnit"
            [subtitle]="dayCircleConfig.subtitle"
            size="100"
            gap="35"
            strokeWidth="6"
            progressColor="#ABC638"
            dotRadius="7"
    ></app-circular-progress>
</div>
<div>
    <app-circular-progress
            *ngIf="monthCircleConfig"
            [progress]="model?.monthPercent"
            [title]="monthCircleConfig.title"
            [titleUnit]="monthCircleConfig.titleUnit"
            [subtitle]="monthCircleConfig.subtitle"
            size="135"
            gap="35"
            strokeWidth="6"
            progressColor="#EC8E21"
            dotRadius="8.5"
    ></app-circular-progress>
</div>
