<div class="ion-padding">
    <ion-radio-group [value]="measureUnit" (ionChange)="changeValue($event)">
        <ion-list-header>
            <ion-label>Measure Unit</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Metric</ion-label>
            <ion-radio slot="start" value="metric"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>Imperial</ion-label>
            <ion-radio slot="start" value="imperial"></ion-radio>
        </ion-item>
    </ion-radio-group>

    <ion-button class="save-button" type="button" expand="block" (click)="save()">
        Save
    </ion-button>
</div>
