<app-simple-header [title]="trans.trans((article ? article.type : 'article' ) + '_list_page')"
                   defaultBackHref="/home/articles"></app-simple-header>

<ion-content>
    <ng-container *ngIf="article">
        <div class="image-wrapper">
            <img [src]="article.image.link" *ngIf="article.image.link" alt=" "/>
        </div>
        <div class="ion-padding">
            <h3>{{article.title}}</h3>
            <div [innerHTML]="body"></div>
            <div class="ms-form-buttons">
                <ion-button type="submit" expand="block" (click)="share()" color="orange"
                            *ngIf="article.externalUrl">{{trans.trans("Share")}} &nbsp;&nbsp;<ion-icon
                        name="share-social-outline"></ion-icon>
                </ion-button>
            </div>
        </div>
    </ng-container>
</ion-content>
