/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "styles/theme/mentorsano-design";
@import "styles/common";
@import "styles/fonts/open-sans";
@import "styles/deeps/calendar";

html {
  --ion-font-family: 'Open Sans';
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.full-height {
  height: 100%
}

.flex-grow-2 {
  flex-grow: 2;
}

.custom-loading-popup {
  > .modal-wrapper {
    background: transparent;
  }

  &:not(.full-screen) {
    > .modal-wrapper {
      width: 100px;
      height: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.menu-type-overlay .menu-inner,
.menu-inner {
  box-shadow: red 4px 0px 16px !important;
}

.no-padding {
  padding: 0;
}

.custom-toggle {
  ion-label {
    white-space: normal !important;
  }
}

:root {
  --ion-color-primary: #169948;
  --ion-color-primary-rgb: 22, 153, 72;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #13873f;
  --ion-color-primary-tint: #2da35a;

  --ion-color-secondary: #F9DC06;
  --ion-color-secondary-rgb: 249, 220, 6;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #dbc205;
  --ion-color-secondary-tint: #fae01f;
}

.simple-hr {
  border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
}

.fw-light {
  font-weight: lighter;
}

.ion-padding-top-small {
  --padding-top: 8px;
  padding-top: 8px;
}

hr {
  border-width: unset;
  border-left: 0;
  border-top: 0;
}
