@import "vars";
@import "mentorsano-design-mixins";

.ms-card {
  @include ms-card;
}

.card-green {
  @include card-green;
  color: white;
}

.card-yellow {
  @include card-yellow;
  color: white;
}

.rounded-corners-top {
  @include rounded-corners-top($border-radius);
}

.green-oblique-gradient {
  @extend %green-oblique-gradient;
}

.green-vertical-gradient {
  @extend %green-vertical-gradient;
}

.green-vertical-gradient-reversed {
  @extend %green-vertical-gradient-reversed;
}

.header-mentorsano {
  padding-top: 25px;
  @media (min-height: 700px) {
    padding-top: 35px;
  }
  color: white;
}

%rounded-button {
  --border-radius: 50px;
  --box-shadow: none;
  --color: white;
}


.ms-form {
  ion-item {
    --background: transparent;
    --color: white;
    --padding-start: 0;
    --padding-end: 0;
    --border-color: white;
    --highlight-color-valid: white; // valid underline color

    @media screen and (min-height: 700px) {
      --padding-top: 10px;
      font-size: 1.2em;
    }

    @media screen and (max-height: 700px) {
      --min-height: 2px;
    }

    ion-label {
      text-transform: uppercase;
      font-size: .8em !important;
    }

    &.item-has-focus {
      & > ion-label {
        color: white !important;
      }
    }
  }
}

.ms-form,
.ms-form-buttons {
  ion-button.ion-color-orange {
    --ion-color-base: #{$orange-1};
  }

  ion-button.ion-color-light-blue {
    --ion-color-base: #{$light-blue};
  }

  ion-button.ion-color-yellow {
    --ion-color-base: #{$yellow-green-1};
  }

  ion-button.ion-color-green {
    --ion-color-base: #{$green-1};
  }

  ion-button.ion-color-gray {
    --ion-color-base: #{$light-gray};
  }

  ion-button.ion-color-white {
    --ion-color-base: #fff;
  }

  ion-button:not(.square-button):not(.normal-button) {
    @extend %rounded-button;
  }

  ion-button.square-button {
    margin: 0;
    --border-radius: 0;
    --box-shadow: none;
    --color: white;
  }

  ion-button.normal-button {
    --border-radius: 7px;
    --box-shadow: none;
  }
}

ion-button.ion-color-transparent,
ion-button.ion-color-apple,
ion-button.ion-color-facebook,
ion-button.ion-color-google {
  @extend %rounded-button;
}

ion-button.ion-color-facebook {
  --ion-color-base: #3b5998;
}

ion-button.ion-color-google {
  --ion-color-base: #DE5246;
}

ion-button.ion-color-apple {
  --ion-color-base: #000;
}

ion-button.left-aligned .button-content {
  display: flex;
  width: 100%;

  ion-icon {
    margin-right: 15px;
    margin-left: 10px;
  }
}

.logo-icon-wrapper {
  img {
    max-width: 40vw;
    max-height: 40vh;
  }
}

.vertical-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.transparent-background {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.icon-circle-wrapper {
  @extend %icon-circle-wrapper;
}

.in-ms-card-input-wrapper {
  background-color: rgba(0, 0, 0, .15);
  min-height: $circle-size;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;

  .suffix {
    padding-right: 15px;
    display: flex;
    align-items: center;
  }
}

.orange-card {
  --background: #{$orange-1};
  --color: white;

  ion-card-subtitle,
  ion-card-title {
    --color: white;
  }
}


@for $i from 1 through 10 {
  .category-#{nth($categories-names, $i)} {
    background-color: nth($categories-background-colors, $i) !important;
    --background: #{nth($categories-background-colors, $i)} !important;
    --card-background: #{nth($categories-background-colors, $i)} !important;
  }
}

app-ms-card.category-None {
  background-color: $green-1 !important;
  --background: #{$green-1} !important;
  --card-background: #{$green-1} !important;
}

.transparent-background {
  background: transparent;
  --background: transparent;
  --ion-background-color: transparent;
}

.premium-content-text ul li {
  list-style-image: url("/assets/images/premium/green-check.svg");
  margin-top: 10px;
  padding-left: 8px;
}
