@import "vars";

@mixin rounded-corners-top($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  overflow: hidden;
}

@mixin rounded-corners-bottom($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  overflow: hidden;
}

@mixin ms-card {
  @include rounded-corners-top($border-radius);
  @include rounded-corners-bottom($border-radius);
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@mixin card-green {
  @include ms-card;
  background-color: $green-1;
}

@mixin card-yellow {
  @include ms-card;
  background-color: $yellow-1;
}

$green-oblique-gradient: linear-gradient(142deg, $green-1 0%, $yellow-green-1 75%);
$green-vertical-gradient: linear-gradient(180deg, $green-1 0%, $yellow-green-1 75%);
$green-vertical-gradient-reversed: linear-gradient(360deg, $green-1 20%, $yellow-green-1 75%);


%green-oblique-gradient {
  background: $green-oblique-gradient;
  --background: #{$green-oblique-gradient};
}

%green-vertical-gradient {
  background: $green-vertical-gradient;
  --background: #{$green-vertical-gradient};
}

%green-vertical-gradient-reversed {
  background: $green-vertical-gradient-reversed;
  --background: #{$green-vertical-gradient-reversed};
}

%icon-circle-wrapper {
  font-size: 1.2em;
  border-radius: 50%;
  height: 1.7em;
  width: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
