$green-1: #169948;
$yellow-1: #F9DC06;
$yellow-green-1: #ABC638;

$orange-1: #EC8E21;

$light-blue: #00b6ff;

$light-gray: #bbb;

$border-radius: 16px;

$circle-size: 50px;

$categories-names: 'None', 'Breakfast', 'Lunch', 'Dinner', 'Snacks', 'Water', 'Sport', 'Mindset', 'UserAdded', 'Other';
$categories-background-colors: #fff, #95BE3E, #95BE3E, #95BE3E, #ED8C23, #0DB3DB, #E4222D, #A32384, #7D68AD, #FCD905;
