<ion-content>
    <div *ngIf="pModel && pModel.firstAvailableCheckQuestion" class="ion-padding-horizontal ion-padding-top">
        <app-ms-field-wrapper [field]="pModel.firstAvailableCheckQuestion"
                              [routerLink]="['/home', 'check']"></app-ms-field-wrapper>
    </div>
    <div class="ion-padding">
        <div>
            <div class="label">{{trans.trans('hello')}} <span class="value" *ngIf="pModel">{{pModel.profileName}}</span>
            </div>
        </div>
        <div class="stats-wrapper" [routerLink]="['/activity']">
            <app-user-progress-circles [model]="pModel"></app-user-progress-circles>
        </div>
    </div>
    <div class="demos">
        <app-feature-demo-header featureName="todo" [routerLink]="['/home', 'check']"></app-feature-demo-header>
        <app-feature-demo-header featureName="newsfeed" [routerLink]="['/home', 'articles']"
                                 [queryParams]="{type: 'article'}"></app-feature-demo-header>
        <app-feature-demo-header featureName="tips" [routerLink]="['/home', 'articles']"
                                 [queryParams]="{type: 'advice'}"></app-feature-demo-header>
        <app-feature-demo-header featureName="menus" [routerLink]="['/home', 'articles']"
                                 [queryParams]="{type: 'menu'}"></app-feature-demo-header>
    </div>
</ion-content>
