
.label {
  color: #707070;
  font-size: 14px;
}

.value {
  font-weight: bold;
  color: black;
  font-size: 22px;
}

.demos {
  > * {
    margin-bottom: -20px;
    background-color: white;
    z-index: 2;
  }
}

