<ion-content>
    <app-feature-demo-header
            [featureName]="type === 'advice' ? 'tips' : type === 'menu' ? 'menus' : 'newsfeed'"></app-feature-demo-header>
    <div class="ion-padding">
        <ng-container *ngIf="filteredArticles && !filteredArticles.length">
            <h3>{{trans.transf('there_are_no_0_for_you', trans.trans((type || 'article') + '_list_page').toLowerCase())}}</h3>
        </ng-container>
        <ng-container *ngIf="filteredArticles && filteredArticles.length">
            <app-article-preview [article]="article" *ngFor="let article of filteredArticles"></app-article-preview>
        </ng-container>
        <ng-container *ngIf="type == 'advice'">
            <div class="ms-form-buttons d-flex ion-justify-content-center">
                <ion-button color="orange"
                            [routerLink]="'/home/check'">{{trans.trans('continue-with-todo')}}</ion-button>
            </div>
        </ng-container>
    </div>
</ion-content>
