@import "theme/vars";

.activity-line {
  font-weight: lighter;

  .activity-title {
    text-decoration: underline;
    color: black;
  }
}


.avatar {
  position: relative;
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin-right: 15px;

  &.big {
    width: 100px;
    height: 100px;
  }


  .avatar-image-wrapper {
    display: inline-flex;
    border: 2px solid $orange-1;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .activity-badge-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    display: inline-flex;
    border: 2px solid $yellow-1;
    border-radius: 50%;
    background: white;
    width: 55%;
    height: 55%;
    justify-content: center;
    align-content: center;
    overflow: hidden;

    img {
      width: 75%;
    }
  }
}

.column {
  flex-direction: column;

  .avatar {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
