<ng-container *ngIf="model">
    <div class="d-flex ion-align-items-center"
         [ngClass]="{column: column, 'ion-margin-bottom': !column, 'ion-padding-start': !column}">
        <div class="avatar" [ngClass]="{big: big}">
            <div class="avatar-image-wrapper">
                <img [src]="model.avatarLink || 'assets/images/blank-profile-picture.png'"/>
            </div>
            <div class="activity-badge-wrapper">
                <img [src]="'/assets/icons/activity-badges/activity-badge-'+(model.profileActivityIndex || 1)+'.svg'"
                     class="activity-badge"/>
            </div>
        </div>
        <div [ngClass]="{'ion-text-center': column}">
            <div><b>{{model.profileFullName}}</b></div>
            <div class="activity-line">{{trans.trans("level")}}: <a [routerLink]="'/achievements'"
                                                                    [queryParams]="{profileActivityIndex: model.profileActivityIndex}"
                                                                    class="activity-title">{{trans.trans(model.profileActivityTitle)}}</a>
            </div>
        </div>
    </div>
</ng-container>
<!--<div>big:{{big}} <span *ngIf="big">*</span></div>-->
<!--<div>column:{{column}} <span *ngIf="column">*</span></div>-->
